glexchange/wsdl/SubmissionService_4130.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:ns="http://impl.services.service.ws.projectdirector.gs4tr.org"
	xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
	xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"
	xmlns:xmime="http://www.w3.org/2005/05/xmlmime" targetNamespace="http://impl.services.service.ws.projectdirector.gs4tr.org">
	<wsdl:documentation>SubmissionService_4130</wsdl:documentation>
	<!--SOAP header example - <commons:userAgent xmlns:commons="http://commons.ws.projectdirector.gs4tr.org">AppName</commons:userAgent> -->
	<wsdl:types>
		<xs:schema xmlns:ax234="http://dto.model.projectdirector.gs4tr.org/xsd"
			attributeFormDefault="qualified" elementFormDefault="qualified"
			targetNamespace="http://impl.services.service.ws.projectdirector.gs4tr.org">
			<xs:import namespace="http://dto.model.projectdirector.gs4tr.org/xsd"
				schemaLocation="types.xsd" />
			<xs:import namespace="http://www.w3.org/2005/05/xmlmime"
				schemaLocation="xmime.xsd" />
			<xs:element name="addReferenceAsText">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="referenceText" nillable="false" type="xs:string" />
						<xs:element name="referenceDocumentName" nillable="false"
							type="xs:string" />
						<xs:element name="encoding" nillable="false" type="xs:string" />
						<xs:element name="submissionTicket" nillable="false"
							type="xs:string" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="addReferenceAsTextResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="return" nillable="true" type="xs:string" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="addSubmitter">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="submissionTicket" nillable="false"
							type="xs:string" />
						<xs:element name="username" nillable="false" type="xs:string" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="addSubmitterResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="return" nillable="true" type="xs:string" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="cancelSubmission">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="submissionId" nillable="false" type="xs:string" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="cancelSubmissionResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="return" nillable="true" type="xs:string" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="cancelSubmissionWithComment">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="submissionId" nillable="false" type="xs:string" />
						<xs:element name="comment" nillable="false" type="xs:string" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="cancelSubmissionWithCommentResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="return" nillable="true" type="xs:string" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="checkDownloadDeliverableCollateral">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="uuid" type="xs:string" nillable="false" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="checkDownloadDeliverableCollateralResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="return" type="ax234:DownloadCollateralResult"
							nillable="true" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="downloadDeliverableCollateralBySubmissionTicket">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="submissionTicket" nillable="false"
							type="xs:string" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="downloadDeliverableCollateralBySubmissionTicketResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="return" nillable="true" type="xs:string" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element
				name="downloadDeliverableCollateralBySubmissionTicketAndTargetLanguages">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="submissionTicket" nillable="false"
							type="xs:string" />
						<xs:element name="targetLanguages" minOccurs="0"
							maxOccurs="unbounded" nillable="false" type="xs:string" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element
				name="downloadDeliverableCollateralBySubmissionTicketAndTargetLanguagesResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="return" nillable="true" type="xs:string" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="findByTicket">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="ticket" nillable="false" type="xs:string" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="findByTicketResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="return" nillable="true" type="ax234:Submission" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="findCreatingSubmissionsByProjectShortCode">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="projectShortCode" nillable="false"
							type="xs:string" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="findCreatingSubmissionsByProjectShortCodeResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="return" nillable="true" maxOccurs="unbounded"
							minOccurs="0" type="ax234:Submission" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="search">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="command" nillable="false"
							type="ax234:SubmissionSearchRequest" />
						<xs:element name="info" nillable="false" type="ax234:PagedListInfo" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="searchResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="return" nillable="true"
							type="ax234:SubmissionPagedList" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="searchSubmissions">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="submissionSearchRequest" nillable="false"
							type="ax234:SubmissionSearchRequest" />
						<xs:element name="info" nillable="false" type="ax234:PagedListInfo" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="searchSubmissionsResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="return" nillable="true"
							type="ax234:SubmissionSearchModelPagedList" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>

			<xs:element name="addOwner">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="submissionTicket" nillable="false"
							type="xs:string" />
						<xs:element name="username" nillable="false" type="xs:string" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="addOwnerResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="return" nillable="true" type="xs:string" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>

			<xs:element name="startSingleBatchSubmission">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="submissionId" nillable="false" type="xs:string" />
						<xs:element name="submissionInfo" nillable="true"
							type="ax234:SubmissionInfo" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="startSingleBatchSubmissionResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="return" nillable="true" type="xs:string" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>

			<xs:element name="startSubmission">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="submissionId" nillable="false" type="xs:string" />
						<xs:element name="submissionInfo" nillable="true"
							type="ax234:SubmissionInfo" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="startSubmissionResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="return" nillable="true" type="xs:string" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="uploadReference">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="submissionId" type="xs:string"
							nillable="false" />
						<xs:element name="resourceInfo" type="ax234:ResourceInfo"
							nillable="false" />
						<xs:element name="data" type="xmime:base64Binary"
							nillable="false" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="uploadReferenceResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="return" type="xs:string" nillable="true" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:schema>
	</wsdl:types>
	<wsdl:message name="addReferenceAsTextRequest">
		<wsdl:part name="parameters" element="ns:addReferenceAsText" />
	</wsdl:message>
	<wsdl:message name="addReferenceAsTextResponse">
		<wsdl:part name="parameters" element="ns:addReferenceAsTextResponse" />
	</wsdl:message>
	<wsdl:message name="addSubmitterRequest">
		<wsdl:part name="parameters" element="ns:addSubmitter" />
	</wsdl:message>
	<wsdl:message name="addSubmitterResponse">
		<wsdl:part name="parameters" element="ns:addSubmitterResponse" />
	</wsdl:message>
	<wsdl:message name="cancelSubmissionRequest">
		<wsdl:part name="parameters" element="ns:cancelSubmission" />
	</wsdl:message>
	<wsdl:message name="cancelSubmissionResponse">
		<wsdl:part name="parameters" element="ns:cancelSubmissionResponse" />
	</wsdl:message>
	<wsdl:message name="cancelSubmissionWithCommentRequest">
		<wsdl:part name="parameters" element="ns:cancelSubmissionWithComment" />
	</wsdl:message>
	<wsdl:message name="cancelSubmissionWithCommentResponse">
		<wsdl:part name="parameters" element="ns:cancelSubmissionWithCommentResponse" />
	</wsdl:message>
	<wsdl:message name="checkDownloadDeliverableCollateralRequest">
		<wsdl:part name="parameters" element="ns:checkDownloadDeliverableCollateral" />
	</wsdl:message>
	<wsdl:message name="checkDownloadDeliverableCollateralResponse">
		<wsdl:part name="parameters"
			element="ns:checkDownloadDeliverableCollateralResponse" />
	</wsdl:message>
	<wsdl:message name="downloadDeliverableCollateralBySubmissionTicketRequest">
		<wsdl:part name="parameters"
			element="ns:downloadDeliverableCollateralBySubmissionTicket" />
	</wsdl:message>
	<wsdl:message name="downloadDeliverableCollateralBySubmissionTicketResponse">
		<wsdl:part name="parameters"
			element="ns:downloadDeliverableCollateralBySubmissionTicketResponse" />
	</wsdl:message>
	<wsdl:message
		name="downloadDeliverableCollateralBySubmissionTicketAndTargetLanguagesRequest">
		<wsdl:part name="parameters"
			element="ns:downloadDeliverableCollateralBySubmissionTicketAndTargetLanguages" />
	</wsdl:message>
	<wsdl:message
		name="downloadDeliverableCollateralBySubmissionTicketAndTargetLanguagesResponse">
		<wsdl:part name="parameters"
			element="ns:downloadDeliverableCollateralBySubmissionTicketAndTargetLanguagesResponse" />
	</wsdl:message>
	<wsdl:message name="findByTicketRequest">
		<wsdl:part name="parameters" element="ns:findByTicket" />
	</wsdl:message>
	<wsdl:message name="findByTicketResponse">
		<wsdl:part name="parameters" element="ns:findByTicketResponse" />
	</wsdl:message>
	<wsdl:message name="findCreatingSubmissionsByProjectShortCodeRequest">
		<wsdl:part name="parameters"
			element="ns:findCreatingSubmissionsByProjectShortCode"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="findCreatingSubmissionsByProjectShortCodeResponse">
		<wsdl:part name="parameters"
			element="ns:findCreatingSubmissionsByProjectShortCodeResponse"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="searchRequest">
		<wsdl:part name="parameters" element="ns:search" />
	</wsdl:message>
	<wsdl:message name="searchResponse">
		<wsdl:part name="parameters" element="ns:searchResponse" />
	</wsdl:message>
	<wsdl:message name="searchSubmissionsRequest">
		<wsdl:part name="parameters" element="ns:searchSubmissions" />
	</wsdl:message>
	<wsdl:message name="searchSubmissionsResponse">
		<wsdl:part name="parameters" element="ns:searchSubmissionsResponse" />
	</wsdl:message>

	<wsdl:message name="addOwnerRequest">
		<wsdl:part name="parameters" element="ns:addOwner" />
	</wsdl:message>
	<wsdl:message name="addOwnerResponse">
		<wsdl:part name="parameters" element="ns:addOwnerResponse" />
	</wsdl:message>
	<wsdl:message name="startSingleBatchSubmissionRequest">
		<wsdl:part name="parameters" element="ns:startSingleBatchSubmission" />
	</wsdl:message>
	<wsdl:message name="startSingleBatchSubmissionResponse">
		<wsdl:part name="parameters" element="ns:startSingleBatchSubmissionResponse" />
	</wsdl:message>

	<wsdl:message name="startSubmissionRequest">
		<wsdl:part name="parameters" element="ns:startSubmission" />
	</wsdl:message>
	<wsdl:message name="startSubmissionResponse">
		<wsdl:part name="parameters" element="ns:startSubmissionResponse" />
	</wsdl:message>
	<wsdl:message name="uploadReferenceRequest">
		<wsdl:part name="parameters" element="ns:uploadReference" />
	</wsdl:message>
	<wsdl:message name="uploadReferenceResponse">
		<wsdl:part name="parameters" element="ns:uploadReferenceResponse" />
	</wsdl:message>
	<wsdl:portType name="SubmissionServicePortType">
		<wsdl:operation name="addReferenceAsText">
			<wsdl:input message="ns:addReferenceAsTextRequest"
				wsaw:Action="urn:addReferenceAsText" />
			<wsdl:output message="ns:addReferenceAsTextResponse"
				wsaw:Action="urn:addReferenceAsTextResponse" />
		</wsdl:operation>
		<wsdl:operation name="addSubmitter">
			<wsdl:input message="ns:addSubmitterRequest" wsaw:Action="urn:addSubmitter" />
			<wsdl:output message="ns:addSubmitterResponse"
				wsaw:Action="urn:addSubmitterResponse" />
		</wsdl:operation>
		<wsdl:operation name="cancelSubmission">
			<wsdl:input message="ns:cancelSubmissionRequest"
				wsaw:Action="urn:cancelSubmission" />
			<wsdl:output message="ns:cancelSubmissionResponse"
				wsaw:Action="urn:cancelSubmissionResponse" />
		</wsdl:operation>
		<wsdl:operation name="cancelSubmissionWithComment">
			<wsdl:input message="ns:cancelSubmissionWithCommentRequest"
				wsaw:Action="urn:cancelSubmissionWithComment" />
			<wsdl:output message="ns:cancelSubmissionWithCommentResponse"
				wsaw:Action="urn:cancelSubmissionWithCommentResponse" />
		</wsdl:operation>
		<wsdl:operation name="checkDownloadDeliverableCollateral">
			<wsdl:input message="ns:checkDownloadDeliverableCollateralRequest"
				wsaw:Action="urn:checkDownloadDeliverableCollateral" />
			<wsdl:output message="ns:checkDownloadDeliverableCollateralResponse"
				wsaw:Action="urn:checkDownloadDeliverableCollateralResponse" />
		</wsdl:operation>
		<wsdl:operation name="downloadDeliverableCollateralBySubmissionTicket">
			<wsdl:input
				message="ns:downloadDeliverableCollateralBySubmissionTicketRequest"
				wsaw:Action="urn:downloadDeliverableCollateralBySubmissionTicket" />
			<wsdl:output
				message="ns:downloadDeliverableCollateralBySubmissionTicketResponse"
				wsaw:Action="urn:downloadDeliverableCollateralBySubmissionTicketResponse" />
		</wsdl:operation>
		<wsdl:operation
			name="downloadDeliverableCollateralBySubmissionTicketAndTargetLanguages">
			<wsdl:input
				message="ns:downloadDeliverableCollateralBySubmissionTicketAndTargetLanguagesRequest"
				wsaw:Action="urn:downloadDeliverableCollateralBySubmissionTicketAndTargetLanguages" />
			<wsdl:output
				message="ns:downloadDeliverableCollateralBySubmissionTicketAndTargetLanguagesResponse"
				wsaw:Action="urn:downloadDeliverableCollateralBySubmissionTicketAndTargetLanguagesResponse" />
		</wsdl:operation>
		<wsdl:operation name="findByTicket">
			<wsdl:input message="ns:findByTicketRequest" wsaw:Action="urn:findByTicket" />
			<wsdl:output message="ns:findByTicketResponse"
				wsaw:Action="urn:findByTicketResponse" />
		</wsdl:operation>
		<wsdl:operation name="findCreatingSubmissionsByProjectShortCode">
			<wsdl:input message="ns:findCreatingSubmissionsByProjectShortCodeRequest"
				wsaw:Action="urn:findCreatingSubmissionsByProjectShortCode">
			</wsdl:input>
			<wsdl:output message="ns:findCreatingSubmissionsByProjectShortCodeResponse"
				wsaw:Action="urn:findCreatingSubmissionsByProjectShortCodeResponse">
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="search">
			<wsdl:documentation>Deprecated since 4.5.0</wsdl:documentation>
			<wsdl:input message="ns:searchRequest" wsaw:Action="urn:search" />
			<wsdl:output message="ns:searchResponse" wsaw:Action="urn:searchResponse" />
		</wsdl:operation>
		<wsdl:operation name="searchSubmissions">
			<wsdl:documentation>Deprecated since 4.5.0</wsdl:documentation>
			<wsdl:input message="ns:searchSubmissionsRequest"
				wsaw:Action="urn:searchSubmissions" />
			<wsdl:output message="ns:searchSubmissionsResponse"
				wsaw:Action="urn:searchSubmissionsResponse" />
		</wsdl:operation>

		<wsdl:operation name="addOwner">
			<wsdl:input message="ns:addOwnerRequest" wsaw:Action="urn:addOwner" />
			<wsdl:output message="ns:addOwnerResponse" wsaw:Action="urn:addOwnerResponse" />
		</wsdl:operation>
		<wsdl:operation name="startSingleBatchSubmission">
			<wsdl:input message="ns:startSingleBatchSubmissionRequest"
				wsaw:Action="urn:startSingleBatchSubmission" />
			<wsdl:output message="ns:startSingleBatchSubmissionResponse"
				wsaw:Action="urn:startSingleBatchSubmissionResponse" />
		</wsdl:operation>

		<wsdl:operation name="startSubmission">
			<wsdl:input message="ns:startSubmissionRequest"
				wsaw:Action="urn:startSubmission" />
			<wsdl:output message="ns:startSubmissionResponse"
				wsaw:Action="urn:startSubmissionResponse" />
		</wsdl:operation>
		<wsdl:operation name="uploadReference">
			<wsdl:input message="ns:uploadReferenceRequest"
				wsaw:Action="urn:uploadReference" />
			<wsdl:output message="ns:uploadReferenceResponse"
				wsaw:Action="urn:uploadReferenceResponse" />
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="SubmissionServiceSoap11Binding" type="ns:SubmissionServicePortType">
		<soap:binding transport="http://schemas.xmlsoap.org/soap/http"
			style="document" />
		<wsdl:operation name="addReferenceAsText">
			<soap:operation soapAction="urn:addReferenceAsText"
				style="document" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="addSubmitter">
			<soap:operation soapAction="urn:addSubmitter" style="document" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="cancelSubmission">
			<soap:operation soapAction="urn:cancelSubmission"
				style="document" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="cancelSubmissionWithComment">
			<soap:operation soapAction="urn:cancelSubmissionWithComment"
				style="document" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="checkDownloadDeliverableCollateral">
			<soap:operation soapAction="urn:checkDownloadDeliverableCollateral"
				style="document" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="downloadDeliverableCollateralBySubmissionTicket">
			<soap:operation soapAction="urn:downloadDeliverableCollateralBySubmissionTicket"
				style="document" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation
			name="downloadDeliverableCollateralBySubmissionTicketAndTargetLanguages">
			<soap:operation
				soapAction="urn:downloadDeliverableCollateralBySubmissionTicketAndTargetLanguages"
				style="document" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="findByTicket">
			<soap:operation soapAction="urn:findByTicket" style="document" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="findCreatingSubmissionsByProjectShortCode">
			<soap:operation soapAction="urn:findCreatingSubmissionsByProjectShortCode"
				style="document" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="search">
			<soap:operation soapAction="urn:search" style="document" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="searchSubmissions">
			<soap:operation soapAction="urn:searchSubmissions"
				style="document" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="addOwner">
			<soap:operation soapAction="urn:addOwner" style="document" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>

		<wsdl:operation name="startSingleBatchSubmission">
			<soap:operation soapAction="urn:startSingleBatchSubmission"
				style="document" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>

		<wsdl:operation name="startSubmission">
			<soap:operation soapAction="urn:startSubmission"
				style="document" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="uploadReference">
			<soap:operation soapAction="urn:uploadReference"
				style="document" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:binding name="SubmissionServiceSoap12Binding" type="ns:SubmissionServicePortType">
		<soap12:binding transport="http://schemas.xmlsoap.org/soap/http"
			style="document" />
		<wsdl:operation name="addReferenceAsText">
			<soap12:operation soapAction="urn:addReferenceAsText"
				style="document" />
			<wsdl:input>
				<soap12:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="addSubmitter">
			<soap12:operation soapAction="urn:addSubmitter"
				style="document" />
			<wsdl:input>
				<soap12:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="cancelSubmission">
			<soap12:operation soapAction="urn:cancelSubmission"
				style="document" />
			<wsdl:input>
				<soap12:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="cancelSubmissionWithComment">
			<soap12:operation soapAction="urn:cancelSubmissionWithComment"
				style="document" />
			<wsdl:input>
				<soap12:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="checkDownloadDeliverableCollateral">
			<soap12:operation soapAction="urn:checkDownloadDeliverableCollateral"
				style="document" />
			<wsdl:input>
				<soap12:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="downloadDeliverableCollateralBySubmissionTicket">
			<soap12:operation
				soapAction="urn:downloadDeliverableCollateralBySubmissionTicket"
				style="document" />
			<wsdl:input>
				<soap12:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation
			name="downloadDeliverableCollateralBySubmissionTicketAndTargetLanguages">
			<soap12:operation
				soapAction="urn:downloadDeliverableCollateralBySubmissionTicketAndTargetLanguages"
				style="document" />
			<wsdl:input>
				<soap12:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="findByTicket">
			<soap12:operation soapAction="urn:findByTicket"
				style="document" />
			<wsdl:input>
				<soap12:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="findCreatingSubmissionsByProjectShortCode">
			<soap12:operation soapAction="urn:findCreatingSubmissionsByProjectShortCode"
				style="document" />
			<wsdl:input>
				<soap12:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="search">
			<soap12:operation soapAction="urn:search" style="document" />
			<wsdl:input>
				<soap12:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="searchSubmissions">
			<soap12:operation soapAction="urn:searchSubmissions"
				style="document" />
			<wsdl:input>
				<soap12:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="addOwner">
			<soap12:operation soapAction="urn:addOwner" style="document" />
			<wsdl:input>
				<soap12:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal" />
			</wsdl:output>
		</wsdl:operation>

		<wsdl:operation name="startSingleBatchSubmission">
			<soap12:operation soapAction="urn:startSingleBatchSubmission"
				style="document" />
			<wsdl:input>
				<soap12:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal" />
			</wsdl:output>
		</wsdl:operation>

		<wsdl:operation name="startSubmission">
			<soap12:operation soapAction="urn:startSubmission"
				style="document" />
			<wsdl:input>
				<soap12:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="uploadReference">
			<soap12:operation soapAction="urn:uploadReference"
				style="document" />
			<wsdl:input>
				<soap12:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:binding name="SubmissionServiceHttpBinding" type="ns:SubmissionServicePortType">
		<http:binding verb="POST" />
		<wsdl:operation name="addReferenceAsText">
			<http:operation location="SubmissionService_4130/addReferenceAsText" />
			<wsdl:input>
				<mime:content type="text/xml" part="addReferenceAsText" />
			</wsdl:input>
			<wsdl:output>
				<mime:content type="text/xml" part="addReferenceAsText" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="addSubmitter">
			<http:operation location="SubmissionService_4130/addSubmitter" />
			<wsdl:input>
				<mime:content type="text/xml" part="addSubmitter" />
			</wsdl:input>
			<wsdl:output>
				<mime:content type="text/xml" part="addSubmitter" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="cancelSubmission">
			<http:operation location="SubmissionService_4130/cancelSubmission" />
			<wsdl:input>
				<mime:content type="text/xml" part="cancelSubmission" />
			</wsdl:input>
			<wsdl:output>
				<mime:content type="text/xml" part="cancelSubmission" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="cancelSubmissionWithComment">
			<http:operation location="SubmissionService_4130/cancelSubmissionWithComment" />
			<wsdl:input>
				<mime:content type="text/xml" part="cancelSubmissionWithComment" />
			</wsdl:input>
			<wsdl:output>
				<mime:content type="text/xml" part="cancelSubmissionWithComment" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="checkDownloadDeliverableCollateral">
			<http:operation
				location="SubmissionService_4130/checkDownloadDeliverableCollateral" />
			<wsdl:input>
				<mime:content type="text/xml" part="checkDownloadDeliverableCollateral" />
			</wsdl:input>
			<wsdl:output>
				<mime:content type="text/xml" part="checkDownloadDeliverableCollateral" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="downloadDeliverableCollateralBySubmissionTicket">
			<http:operation
				location="SubmissionService_4130/downloadDeliverableCollateralBySubmissionTicket" />
			<wsdl:input>
				<mime:content type="text/xml"
					part="downloadDeliverableCollateralBySubmissionTicket" />
			</wsdl:input>
			<wsdl:output>
				<mime:content type="text/xml"
					part="downloadDeliverableCollateralBySubmissionTicket" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation
			name="downloadDeliverableCollateralBySubmissionTicketAndTargetLanguages">
			<http:operation
				location="SubmissionService_4130/downloadDeliverableCollateralBySubmissionTicketAndTargetLanguages" />
			<wsdl:input>
				<mime:content type="text/xml"
					part="downloadDeliverableCollateralBySubmissionTicketAndTargetLanguages" />
			</wsdl:input>
			<wsdl:output>
				<mime:content type="text/xml"
					part="downloadDeliverableCollateralBySubmissionTicketAndTargetLanguages" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="findByTicket">
			<http:operation location="SubmissionService_4130/findByTicket" />
			<wsdl:input>
				<mime:content type="text/xml" part="findByTicket" />
			</wsdl:input>
			<wsdl:output>
				<mime:content type="text/xml" part="findByTicket" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="findCreatingSubmissionsByProjectShortCode">
			<http:operation
				location="SubmissionService_4130/findCreatingSubmissionsByProjectShortCode" />
			<wsdl:input>
				<mime:content type="text/xml"
					part="findCreatingSubmissionsByProjectShortCode" />
			</wsdl:input>
			<wsdl:output>
				<mime:content type="text/xml"
					part="findCreatingSubmissionsByProjectShortCode" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="search">
			<http:operation location="SubmissionService_4130/search" />
			<wsdl:input>
				<mime:content type="text/xml" part="search" />
			</wsdl:input>
			<wsdl:output>
				<mime:content type="text/xml" part="search" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="searchSubmissions">
			<http:operation location="SubmissionService_4110/searchSubmissions" />
			<wsdl:input>
				<mime:content type="text/xml" part="searchSubmissions" />
			</wsdl:input>
			<wsdl:output>
				<mime:content type="text/xml" part="searchSubmissions" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="addOwner">
			<http:operation location="SubmissionService_4130/addOwner" />
			<wsdl:input>
				<mime:content type="text/xml" part="addOwner" />
			</wsdl:input>
			<wsdl:output>
				<mime:content type="text/xml" part="addOwner" />
			</wsdl:output>
		</wsdl:operation>

		<wsdl:operation name="startSingleBatchSubmission">
			<http:operation location="SubmissionService_4130/startSingleBatchSubmission" />
			<wsdl:input>
				<mime:content type="text/xml" part="startSingleBatchSubmission" />
			</wsdl:input>
			<wsdl:output>
				<mime:content type="text/xml" part="startSingleBatchSubmission" />
			</wsdl:output>
		</wsdl:operation>

		<wsdl:operation name="startSubmission">
			<http:operation location="SubmissionService_4130/startSubmission" />
			<wsdl:input>
				<mime:content type="text/xml" part="startSubmission" />
			</wsdl:input>
			<wsdl:output>
				<mime:content type="text/xml" part="startSubmission" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="uploadReference">
			<http:operation location="SubmissionService_4130/uploadReference" />
			<wsdl:input>
				<mime:content type="text/xml" part="startSubmission" />
			</wsdl:input>
			<wsdl:output>
				<mime:content type="text/xml" part="startSubmission" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="SubmissionService_4130">
		<wsdl:port name="SubmissionServiceHttpSoap11Endpoint"
			binding="ns:SubmissionServiceSoap11Binding">
			<soap:address
				location="http://localhost/services/SubmissionService_4130.SubmissionServiceHttpSoap11Endpoint" />
		</wsdl:port>
		<wsdl:port name="SubmissionServiceHttpSoap12Endpoint"
			binding="ns:SubmissionServiceSoap12Binding">
			<soap12:address
				location="http://localhost/services/SubmissionService_4130.SubmissionServiceHttpSoap12Endpoint" />
		</wsdl:port>
		<wsdl:port name="SubmissionServiceHttpEndpoint" binding="ns:SubmissionServiceHttpBinding">
			<http:address
				location="http://localhost/services/SubmissionService_4130.SubmissionServiceHttpEndpoint" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
